* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto, sans-serif;
}

.text {
	padding: 0 181px 0;
	background: no-repeat url(../image/sport\ woman.png) right, #62D0DF;
}

.container {
	max-width: 1060px;
	margin: auto;
}

.text__title {
	font-size: 36px;
	font-weight: bold;
	line-height: 27px;
	color: #fff;
	padding: 130px 0 75px;
}

.bold-text {
	font-weight: bold;
}

.text__content {
	font-size: 24px;
	line-height: 35px;
	color: #fff;
	max-width: 555px;
	padding-bottom: 92px;
}
