* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.content {
	background-color: #191919;
	font-family: Roboto, sans-serif;
	min-height: 1541px;
}
.container {
	padding-top: 180px;
}

.content__link {
	margin-bottom: 30px;
}

.content__link--oval-button {
	padding: 8px 13px;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
	text-decoration: none;
	border: 1px solid #6EE4B5;
	border-radius: 57.5631px;
}

.content__title {
	font-size: 64px;
	font-weight: 400;
	line-height: 68px;
	color: #fff;
	margin-bottom: 45px;
}

.content__about {
	max-width: 567px;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	margin-bottom: 53px;
}
.content__email {
	padding: 11px 108px;
	font-size: 20px;
	line-height: 28px;
	color: #FFFFFF;
	margin-bottom: 170px;
	background-color: #191919;
	border: 1px solid #FFFFFF;
	border-radius: 12.7918px;
	text-align: center;
}

.content__cards {
	margin: 0 -80px 284px -80px;
}

.content__card {
	display: inline-block;
	margin-right: 65px;
}

.content__card:last-child {
	margin-right: 0;
}

.content__card-text {
	text-align: center;
	font-size: 64px;
	line-height: 68px;
	text-align: center;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	border-radius: 3.99744px;
	padding: 200px 0 215px 0;
}

.content__card:nth-child(1) {
	background: url(../img/dogs.png) no-repeat;
	padding: 38px 23px;
}

.content__card:nth-child(2) {
	background: url(../img/cactus.png) no-repeat;
	padding: 38px 23px;
}

.content__card:nth-child(3) {
	background: url(../img/man.png) no-repeat;
	padding: 38px 23px;
}