* {
	padding: 0;
	margin: 0;
	font-size: 0;
}

.container {
	
}
.content {
	max-width: 1170px;
	margin: 0 auto;
}
.tabs {
}
.tabs__items {
	display: flex;
	max-width: 603px;
}
.tabs__item {
	flex: 0 1 33.333%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
	text-decoration: none;
	font-family: Open Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: center;
}
.tabs__block {
	position: relative;
	padding-left: 100px;
	display: none;
	border: 1px solid #C6CBCD;
	background: url(/axit/image/statue\ of\ liberty.png) no-repeat right;
	min-height: 501px;
}
.tabs__body {
}

.tabs__title {
	font-family: Open Sans;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: 41px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 27px;
	max-width: 570px;
	padding: 41.5px 0;
}

.tabs__content {
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;
	max-width: 570px;
	margin-bottom: 27px;
}

.tabs__button {
	font-family: Open Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: center;
	padding: 16.5px 91px;
	background-color: #EC7979;
	border: none;
	color: white;
}

.tabs__block::before {
	content: "";
	height: 39px;
	width: 17.18%;
	position: absolute;
	top: -50px;
	height: 9.6%;
}

.tabs__block:nth-child(1):before {
	border-top: 1px solid #C6CBCD;
	border-left: 1px solid #C6CBCD;
	border-right: 1px solid #C6CBCD;
	border-radius: 5px 5px 0 0;
	left: 0;
}

.tabs__block:nth-child(2):before {
	border-top: 1px solid #C6CBCD;
	border-left: 1px solid #C6CBCD;
	border-right: 1px solid #C6CBCD;
	border-radius: 5px 5px 0 0;
	left: 17.18%;
}

.tabs__block:nth-child(3):before {
	border-top: 1px solid #C6CBCD;
	border-left: 1px solid #C6CBCD;
	border-right: 1px solid #C6CBCD;
	border-radius: 5px 5px 0 0;=
	right: 1000px;
}

.tabs__block:target {
	display: block;
}

